* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

div {
    display: flex;
    justify-content: center;
}

a {
    font-size: 24px;
    color: black;
    text-decoration: underline;
    transition: 0.3s;
    text-align: center;
    margin-left:50%;
}

a:hover {
    color: #01688f;
}

button {
    width: 25%;
    height: 50px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
    transition: 0.45s;
    background-color: #064ba4;
}

button:hover {
    background-color: #01688f;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    cursor: pointer;
    border: 1px solid black;
}

th, td {
    text-align: center;
}

th {
    cursor: pointer;
}

th.selected-row, td.selected-row {
    background-color: lightblue;
}

th.selected-col, td.selected-col {
    background-color: lightcoral;
}

th.intersection-cell, td.intersection-cell {
    background-color: lightgreen;
}

.emphasized {
    background-color: yellow;
}

.intersection-cell {
    font-weight: bold;
    border: 2px solid red;
}

@media screen and (max-width: 600px) {

    div {
        display: contents;
    }

    a {
        font-size: 18px;
        margin-left: 0;      /* no weird centering */
        text-align: center;
        display: block;
    }

    button {
        width: 80%;
        height: 45px;
        font-size: 18px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {

    a {
        font-size: 18px;
        margin-left: 0;
    }

    button {
        width: 40%;
        height: 40px;
        font-size: 18px;
    }

    table {
        display: contents;
        font-size: 13px;
    }
}
