* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090979;
}

.parent {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#display {
    width: 50%;
    border: 1px solid black;
    display: grid;
    text-align: center;
    background-color: #090979;
    gap: 18px;
}

a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #01688f;
}

textarea,
input {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    background-color: #064ba4;
    resize: none;
}

::placeholder {
    color: black;
    opacity: 0.75;
}

.buttons {
    width: 100%;
    display: flex;
}

button {
    width: 50%;
    height: 30px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    transition: 0.45s;
    background-color: #064ba4;
}

button:hover {
    background-color: #01688f;
}